python-dotenv~=0.21.0
pandas==2.1.3

Django~=3.2
django-phonenumber-field~=5.1.0
django-extensions~=3.1.3
django-crispy-forms~=1.11.2
django-sequences==2.6
Pillow==10.0.0

# Django REST Framework
djangorestframework~=3.12.4
djangorestframework-jwt==1.11.0
drf-spectacular[sidecar]
django-cors-headers~=3.7.0
djangorestframework-simplejwt
drf-writable-nested~=0.6.2
drf-extra-fields~=3.4.0
django-filter~=2.4.0
markdown~=3.4.1
django-rest-swagger~=2.2.0

# Utils
phonenumbers~=8.12.21
psycopg2-binary~=2.9.2
gunicorn==20.1.0
django-environ==0.9.0
requests~=2.31.0
